services:
  app:
    build:
      context: ../..
      dockerfile: Dockerfile
    image: c-ds-algo-platform:task-005
    command: ["./tasks/task-005/run-tests.sh"]
    volumes:
      - ../..:/app
    working_dir: /app
